$very-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$white-75: hsla(0, 0%, 100%, 0.75);
$white-60: hsla(0, 0%, 100%, 0.6);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $very-dark-blue;
  min-height: 100vh;
  color: $white;
}

.container {
  height: 100%;
  padding-top: 177px;

  .card {
    background-color: $dark-desaturated-blue;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    overflow: hidden;
    max-width: 1110px;
    margin: 0 auto;

    &__header {
      order: 2;
      position: relative;

      .gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $soft-violet;
        mix-blend-mode: multiply;
      }

      .image--mobile {
        display: none;
      }

      .image--desktop {
        display: block;
      }
    }

    &__body {
      padding: 70px 72px 65px 72px;
    }

    &__title {
      font-size: 36px;
      font-family: "Inter";
      margin-bottom: 26px;

      &--accent {
        color: $soft-violet;
      }
    }

    &__subtitle {
      color: $white-60;
      padding-right: 70px;
      font-size: 15px;
      font-family: "Lexend Deca";
      line-height: 25px;
      letter-spacing: -0.2px;
      margin-bottom: 72px;
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 75px;

      .item {
        &__value {
          font-family: "Inter";
          font-weight: 700;
          font-size: 24px;
          margin-bottom: 5px;
        }

        &__description {
          color: $white-75;
          font-family: "Inter";
          text-transform: uppercase;
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 1120px) {
  body {
    padding-bottom: 45px;
  }
  .container {
    height: 100%;
    padding-top: 88px;

    .card {
      max-width: 327px;
      flex-direction: column;
      &__header {
        order: initial;
        height: 240px;

        .image--mobile {
          display: block;
          height: 100%;
        }

        .image--desktop {
          display: none;
        }
      }

      &__body {
        padding: 38px 32px;
      }

      &__title {
        text-align: center;
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 16px;
      }

      &__subtitle {
        text-align: center;
        padding: 0;
        margin-bottom: 40px;
      }

      &__footer {
        flex-direction: column;
        justify-content: center;
        padding-right: 0;

        .item {
          text-align: center;
          margin-bottom: 30px;

          &__description {
            font-size: 14px;
          }
        }

        .item:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
