*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(233, 47%, 7%);
  min-height: 100vh;
  color: hsl(0, 0%, 100%);
}

.container {
  height: 100%;
  padding-top: 177px;
}
.container .card {
  background-color: hsl(244, 38%, 16%);
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
  max-width: 1110px;
  margin: 0 auto;
}
.container .card__header {
  order: 2;
  position: relative;
}
.container .card__header .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(277, 64%, 61%);
  mix-blend-mode: multiply;
}
.container .card__header .image--mobile {
  display: none;
}
.container .card__header .image--desktop {
  display: block;
}
.container .card__body {
  padding: 70px 72px 65px 72px;
}
.container .card__title {
  font-size: 36px;
  font-family: "Inter";
  margin-bottom: 26px;
}
.container .card__title--accent {
  color: hsl(277, 64%, 61%);
}
.container .card__subtitle {
  color: hsla(0, 0%, 100%, 0.6);
  padding-right: 70px;
  font-size: 15px;
  font-family: "Lexend Deca";
  line-height: 25px;
  letter-spacing: -0.2px;
  margin-bottom: 72px;
}
.container .card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 75px;
}
.container .card__footer .item__value {
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 5px;
}
.container .card__footer .item__description {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Inter";
  text-transform: uppercase;
  font-size: 13px;
}

@media (max-width: 1120px) {
  body {
    padding-bottom: 45px;
  }
  .container {
    height: 100%;
    padding-top: 88px;
  }
  .container .card {
    max-width: 327px;
    flex-direction: column;
  }
  .container .card__header {
    order: initial;
    height: 240px;
  }
  .container .card__header .image--mobile {
    display: block;
    height: 100%;
  }
  .container .card__header .image--desktop {
    display: none;
  }
  .container .card__body {
    padding: 38px 32px;
  }
  .container .card__title {
    text-align: center;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 16px;
  }
  .container .card__subtitle {
    text-align: center;
    padding: 0;
    margin-bottom: 40px;
  }
  .container .card__footer {
    flex-direction: column;
    justify-content: center;
    padding-right: 0;
  }
  .container .card__footer .item {
    text-align: center;
    margin-bottom: 30px;
  }
  .container .card__footer .item__description {
    font-size: 14px;
  }
  .container .card__footer .item:last-child {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
